input[type="text"] {
  background-color: #000;
  color: #fff;
  font-size: 2em;
  border: none;
  border-bottom: 1px solid #2e2e2e;
  margin: 1em;
  outline: none;
  padding: 10px;
  padding-left: 3px;
  margin-bottom: 2em;
  transition: all 1s ease;
}

input[type="text"]:focus {
  border-color: #fff;
}

